body {
	background-color: #0B4B85;
	font-family: Verdana;
	font-size: 0.95em;
	margin: 3% 0;
}

#main {
	width: 90%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 1% 3% 3% 1%;
	display: block;
}

#hasAccess p {
	/*margin-top: 2%;*/
	margin-bottom: 0%;
}

.websiteURL {
	display: inline;
}

form {
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	/*width: -webkit-fit-content;*/
	width: 70%;
	max-width: 700px;
	font-size: 1em;
}

h1 {
	text-align: center;
	color: #E97E1E;
}

h3 {
	text-decoration: underline;
}

#output h4, h3  {
	margin-top: 13px;
}

h4, h3 {
	margin-bottom: 5px;
}

p {
	margin-top: 5px;
	margin-bottom: 1%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#hasAccess hr, #output hr {
	border-top: 2px dotted #ccc;
}

#submitDiv {
	text-align: center;
}

button[type='button'] {
	background: #E97E1E;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	padding: 1%;
	-webkit-border-radius: 15px;
	color: white;
}

textarea {
	width: 99%;
	resize: vertical;
	font-family: inherit;
}

a, a:visited {
	color: #0B4B85;
	font-weight: 900;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	margin-top: 1%;
}