body {
	background-color: #0B4B85;
	font-family: Verdana;
	font-size: 0.95em;
	margin: 3% 0;
}

#main {
	width: 90%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 1% 3% 3% 1%;
	display: block;
}

#hasAccess p {
	/*margin-top: 2%;*/
	margin-bottom: 0%;
}

.websiteURL {
	display: inline;
}

form {
	margin-left: auto;
	margin-right: auto;
	padding: 1%;
	/*width: -webkit-fit-content;*/
	width: 70%;
	max-width: 700px;
	font-size: 1em;
}

h1 {
	text-align: center;
	color: #E97E1E;
}

h3 {
	text-decoration: underline;
}

#output h4, h3  {
	margin-top: 13px;
}

h4, h3 {
	margin-bottom: 5px;
}

p {
	margin-top: 5px;
	margin-bottom: 1%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.gaStuff hr, .adobeStuff hr {
	border-color: #aaa;
}

#hasGoogleAccess hr, #output hr, #hasAdobeAccess hr {
	border-top: 2px dotted #AAA99B;
}

#submitDiv {
	text-align: center;
}

button[type='button'] {
	background: #E97E1E;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	padding: 1%;
	-webkit-border-radius: 15px;
	color: white;
}

button[type='button']:focus {
	outline: none;
}

textarea {
	width: 99%;
	resize: vertical;
	font-family: inherit;
}

a, a:visited {
	color: #0B4B85;
	font-weight: 900;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	margin-top: 1%;
}

span {
	display: block;
}

fieldset {
	margin: 3% auto;
	width: 94.5%;
	background-color: #f8d7b9;
}

legend {
	font-size: 150%;
	background-color: #E97E1E;
	font-weight: bold;
	color: white;
	padding: .5%;
	box-shadow: 3px 3px 7px black;
	width: 105%;
	text-align: center;
	margin: 0 auto 1% auto;
}

blockquote {
	border-left: 2px solid grey;
	padding-left: 1%;
	margin-left: 1%;
}