<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/svcastaneda/image/upload/v1448293949/icon.png"/>

  <title>Web Analytics Tracking Form</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/svcastaneda/image/upload/v1448293949/icon.png"/>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
