<!DOCTYPE html>
<html>
<head>
  <title>Web Analytics Tracking Form</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link rel="shortcut icon" type="image/png" href="http://res.cloudinary.com/svcastaneda/image/upload/v1448293949/icon.png"/>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
